<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>
    

    
<body>
    <%- include("./partials/nav.ejs") %>
        
        <div>
    
    </div>
    <div id="content-container" style="margin:1cm;">
        <div  style="margin-left: 100px;">
       
      
    <section id="hero">
        <h1>About WeatherBuddy</h1>
    
        <p style="margin-right: 500px; font-style: italic ;">
            Us here at WeatherBuddy we seek to provide users with up-to-date weather forecast 
            information at their fingertips. Visitors can easily check the current weather conditions and receive accurate forecasts for their
             desired locations. From temperature and precipitation details to wind speed, this user-friendly platform offers
              essential weather data for planning outdoor activities or staying informed about local conditions. With a clean and 
              intuitive interface, this website ensures that users have quick access to the latest weather updates, making it
               a convenient digital companion for daily life. <br> <br>


           
Our web application empowers users to access real-time weather forecasts for cities worldwide with precision and reliability.
 By simply entering the name of a city, our platform provides comprehensive data, including information on wind speed, temperature,
  precipitation, and sunrise/sunset times. Additionally, we offer the convenience of obtaining a detailed five-day weather forecast 
  for any city of your choice.

    </p>
</section>

    <section id="history">
        <h2>Our History</h2>
        <p>This is our project for our 2023 Fall Web Services course</p>
    </section>

    <section id="team">
        <h2>Our Team</h2>
   
        <div class="team-member" >
        
            <h5>Hardas Lee</h5>
            <h5>Steeve Tassy</h5>
            <h5>David Lafleur</h5>

        </div>
    
    </section>

    <section id="mission">
        <h2>Mission and Values</h2>
        <p>We aim to expand our knowledge and undertake projects to enhance our portfolio.</p>
    </section>

    

   

    <!-- Contact Section -->
    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or inquiries, feel free to contact us:</p>
        <!-- Include your contact details or a contact form here -->
    </section>
        </div>
    </div>

   
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
  
    <%- include("./partials/footer.ejs") %>

</body>


</html>
